.main {
	padding: 30px;
}
.artist-thumb {
	width: 80px;
	height: auto;
	float: left;
	margin-right: 10px;
}
.artist-header {
	padding-bottom:20px;
	margin-bottom: 20px;
}
.artist-albums .well{
	margin-bottom: 20px;
	overflow: auto;
	min-height: 400px
}
.album {
	text-align: center;
	padding: 10px 20px;
}
.album-thumb{
	width: 100%;
}
header{
	padding-bottom: 20px;
}
